
/* text */

body, html {
    font-family: Segoe UI,SegoeUI,Segoe WP,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
  
  body .md-typeset {
    font-size: 16px;
    line-height: 140%;
}

.md-typeset h1, .md-typeset h2, .md-typeset h3 {
  color: #000;
  font-weight: 600;
}

/**/

details.tiny {
  margin: 0;
  padding: 0;
  border:0;
  border-radius: 0;
  box-shadow: none;
  background: none;
}
details.tiny summary {
  padding: 0 1rem 0 0;
  margin: 0;
  background: none;
}
details.tiny summary:before {
  content: none;
}
details.tiny ul {
  padding-left: 16px;
}

/* progress */

p.progress-label {
  position: absolute;
  text-align: left;
  font-weight: 400;
  margin: 0 1rem;
  line-height: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
}

.progress-bar {
  height: 1.2rem;
  float: left;
  background-color: #2979ff;
  border-radius:4px;
}

.progress {
  display: block;
  margin: 0.5rem 1rem;
  border-radius:4px;
  height: 1.2rem;
  background-color: #eeeeee;
  position: relative;
}

.progress.thin {
  margin-top: 0.9rem;
  height: 0.4rem;
}

.progress.thin .progress-label {
  margin-top: -0.4rem;
}

.progress.thin .progress-bar {
  height: 0.4rem;
}

.progress-100plus .progress-bar {
  background-color: #00e676;
}

.progress-80plus .progress-bar {
  background-color: #fbc02d;
}

.progress-60plus .progress-bar {
  background-color: #ff9100;
}

.progress-40plus .progress-bar {
  background-color: #ff5252;
}

.progress-20plus .progress-bar {
  background-color: #ff1744;
}

.progress-0plus .progress-bar {
  background-color: #f50057;
}