<?xml version="1.0" ?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
        <httpErrors errorMode="Custom" defaultResponseMode="File">
            <clear />
            <error statusCode="404" path="404.html" />
        </httpErrors>
    </system.webServer>
</configuration>